

.card {
  width: 30px;
  height: 45px;
  border-radius: var(--border-radius);
  background: #fff;
	display: inline-block;
	padding: 0px 3px 2px 3px;
	margin: 3px;
	margin-bottom: -5px;
	font-size: .8em;
	cursor: default;
	/* border-width: 2px; */
	/* border-style: solid; */
	position: relative;
	overflow: hidden;
}

.pcblock-font-Roboto_Condensed { font-family: "Roboto Condensed", "arial narrow", arial, helvetica, sans-serif; }
.pcblock-font-Fira_Sans_Condensed { font-family: "Fira Sans Condensed", "arial narrow", arial, helvetica, sans-serif; }
.pcblock-font-Open_Sans_Condensed { font-family: "Open Sans Condensed", "arial narrow", arial, helvetica, sans-serif; }
.pcblock-font-Barlow_Condensed { font-family: "Barlow Condensed", "arial narrow", arial, helvetica, sans-serif; }
.pcblock-font-Ubuntu_Condensed { font-family: "Ubuntu Condensed", "arial narrow", arial, helvetica, sans-serif; }
.pcblock-font-Asap_Condensed { font-family: "Asap Condensed", "arial narrow", arial, helvetica, sans-serif; }
.pcblock-font-IBM_Plex_Sans_Condensed { font-family: "IBM Plex Sans Condensed", "arial narrow", arial, helvetica, sans-serif; }

/* default */
.pccard-clubs { background-color: #fff; color: #000; box-shadow: var(--box-shadow-measures) #000; }
.pccard-diams { background-color: #fff; color: #c00000; box-shadow: var(--box-shadow-measures) #c00000; }
.pccard-hearts { background-color: #fff; color: #c00000; box-shadow: var(--box-shadow-measures) #c00000; }
.pccard-spades { background-color: #fff; color: #000; box-shadow: var(--box-shadow-measures) #000; }
.pccard-hide {
	box-shadow: var(--box-shadow-measures) #000;
	position: relative;
}
.pccard-hide:after {
	content: '';
	position: absolute;
	top: var(--hidden-card-margin);
	bottom: var(--hidden-card-margin);
	left: var(--hidden-card-margin);
	right: var(--hidden-card-margin);
	border: 1px solid #444;
	border-radius: var(--border-radius);
	background-color: #555;
	background: repeating-linear-gradient(
	  -45deg,
	  #444,
	  #444 2px,
	  #777 2px,
	  #777 4px
	);
	/* background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc4JyBoZWlnaHQ9JzgnPgogIDxyZWN0IHdpZHRoPSc4JyBoZWlnaHQ9JzgnIGZpbGw9JyNmZmYnLz4KICA8cGF0aCBkPSdNMCAwTDggOFpNOCAwTDAgOFonIHN0cm9rZS13aWR0aD0nMC41JyBzdHJva2U9JyNhYWEnLz4KPC9zdmc+Cg=="); */
	background-repeat: repeat;
}
/* options */
.pcblock-standard-standard .pccard-clubs { background-color: #fff; color: #000; border-color: #000; }	.pcblock-standard-standard .pccard-diams { background-color: #fff; color: #c00000; border-color: #c00000; }	.pcblock-standard-standard .pccard-hearts { background-color: #fff; color: #c00000; border-color: #c00000; }	.pcblock-standard-standard .pccard-spades { background-color: #fff; color: #000; border-color: #000; }
.pcblock-English-poker-standard .pccard-clubs { background-color: #fff; color: #408000; border-color: #408000; }	.pcblock-English-poker-standard .pccard-diams { background-color: #fff; color: #2000ff; border-color: #2000ff; }	.pcblock-English-poker-standard .pccard-hearts { background-color: #fff; color: #c00000; border-color: #c00000; }	.pcblock-English-poker-standard .pccard-spades { background-color: #fff; color: #000; border-color: #000; }
.pcblock-German-skat-standard .pccard-clubs { background-color: #fff; color: #000; border-color: #000; }	.pcblock-German-skat-standard .pccard-diams { background-color: #fff; color: #ff8000; border-color: #ff8000; }	.pcblock-German-skat-standard .pccard-hearts { background-color: #fff; color: #c00000; border-color: #c00000; }	.pcblock-German-skat-standard .pccard-spades { background-color: #fff; color: #408000; border-color: #408000; }
.pcblock-English-bridge-standard .pccard-clubs { background-color: #fff; color: #2000ff; border-color: #2000ff; }	.pcblock-English-bridge-standard .pccard-diams { background-color: #fff; color: #ff8000; border-color: #ff8000; }	.pcblock-English-bridge-standard .pccard-hearts { background-color: #fff; color: #c00000; border-color: #c00000; }	.pcblock-English-bridge-standard .pccard-spades { background-color: #fff; color: #000; border-color: #000; }
.pcblock-american-standard .pccard-clubs { background-color: #fff; color: #2000ff; border-color: #2000ff; }	.pcblock-american-standard .pccard-diams { background-color: #fff; color: #ffc000; border-color: #ffc000; }	.pcblock-american-standard .pccard-hearts { background-color: #fff; color: #c00000; border-color: #c00000; }	.pcblock-american-standard .pccard-spades { background-color: #fff; color: #000; border-color: #000; }
.pcblock-4color-standard .pccard-clubs { background-color: #fff; color: #408000; border-color: #408000; }	.pcblock-4color-standard .pccard-diams { background-color: #fff; color: #ff8000; border-color: #ff8000; }	.pcblock-4color-standard .pccard-hearts { background-color: #fff; color: #c00000; border-color: #c00000; }	.pcblock-4color-standard .pccard-spades { background-color: #fff; color: #000; border-color: #000; }
.pcblock-Seminolewars-bridge-standard .pccard-clubs { background-color: #fff; color: #408000; border-color: #408000; }	.pcblock-Seminolewars-bridge-standard .pccard-diams { background-color: #fff; color: #ffc000; border-color: #ffc000; }	.pcblock-Seminolewars-bridge-standard .pccard-hearts { background-color: #fff; color: #c00000; border-color: #c00000; }	.pcblock-Seminolewars-bridge-standard .pccard-spades { background-color: #fff; color: #2000ff; border-color: #2000ff; }
.pcblock-standard-reverse .pccard-clubs { color: #fff; background-color: #000; border-color: #000; }	.pcblock-standard-reverse .pccard-diams { color: #fff; background-color: #c00000; border-color: #c00000; }	.pcblock-standard-reverse .pccard-hearts { color: #fff; background-color: #c00000; border-color: #c00000; }	.pcblock-standard-reverse .pccard-spades { color: #fff; background-color: #000; border-color: #000; }
.pcblock-English-poker-reverse .pccard-clubs { color: #fff; background-color: #408000; border-color: #408000; }	.pcblock-English-poker-reverse .pccard-diams { color: #fff; background-color: #2000ff; border-color: #2000ff; }	.pcblock-English-poker-reverse .pccard-hearts { color: #fff; background-color: #c00000; border-color: #c00000; }	.pcblock-English-poker-reverse .pccard-spades { color: #fff; background-color: #000; border-color: #000; }
.pcblock-German-skat-reverse .pccard-clubs { color: #fff; background-color: #000; border-color: #000; }	.pcblock-German-skat-reverse .pccard-diams { color: #fff; background-color: #ff8000; border-color: #ff8000; }	.pcblock-German-skat-reverse .pccard-hearts { color: #fff; background-color: #c00000; border-color: #c00000; }	.pcblock-German-skat-reverse .pccard-spades { color: #fff; background-color: #408000; border-color: #408000; }
.pcblock-English-bridge-reverse .pccard-clubs { color: #fff; background-color: #2000ff; border-color: #2000ff; }	.pcblock-English-bridge-reverse .pccard-diams { color: #fff; background-color: #ff8000; border-color: #ff8000; }	.pcblock-English-bridge-reverse .pccard-hearts { color: #fff; background-color: #c00000; border-color: #c00000; }	.pcblock-English-bridge-reverse .pccard-spades { color: #fff; background-color: #000; border-color: #000; }
.pcblock-american-reverse .pccard-clubs { color: #fff; background-color: #2000ff; border-color: #2000ff; }	.pcblock-american-reverse .pccard-diams { color: #fff; background-color: #ffc000; border-color: #ffc000; }	.pcblock-american-reverse .pccard-hearts { color: #fff; background-color: #c00000; border-color: #c00000; }	.pcblock-american-reverse .pccard-spades { color: #fff; background-color: #000; border-color: #000; }
.pcblock-4color-reverse .pccard-clubs { color: #fff; background-color: #408000; border-color: #408000; }	.pcblock-4color-reverse .pccard-diams { color: #fff; background-color: #ff8000; border-color: #ff8000; }	.pcblock-4color-reverse .pccard-hearts { color: #fff; background-color: #c00000; border-color: #c00000; }	.pcblock-4color-reverse .pccard-spades { color: #fff; background-color: #000; border-color: #000; }
.pcblock-Seminolewars-bridge-reverse .pccard-clubs { color: #fff; background-color: #408000; border-color: #408000; }	.pcblock-Seminolewars-bridge-reverse .pccard-diams { color: #fff; background-color: #ffc000; border-color: #ffc000; }	.pcblock-Seminolewars-bridge-reverse .pccard-hearts { color: #fff; background-color: #c00000; border-color: #c00000; }	.pcblock-Seminolewars-bridge-reverse .pccard-spades { color: #fff; background-color: #2000ff; border-color: #2000ff; }

/* pcsuite */

.pcsuite {
	margin: 0 0.2em;
	font-size: 1.1em;
}

.pcsuite-large {
	position: absolute;
	font-size: 30px;
	opacity: .6;
	right: -.3em;
	bottom: -3px;
}
/* pcrank */

.pcrank {
	margin-left: 0.2em;
	font-weight: bold;
}

.pcrank-large {
	font-weight: bold;
	font-size: 2em;
}
